<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website View | <%= siteInfo.title %></title>
    <link rel="stylesheet" href="/stylesheets/fileInfo.css">
    <link rel="icon" type="image/png" href="/images/logo2.png">
</head>
<script>
    const infoId = `<%= siteInfo._id %>`
    const infoImage = `<%= siteInfo.fileImg %>`
    const infoTitle = `<%= siteInfo.title %>`
</script>
<body>
<main>
    <%- include('header.ejs') %>
    <br>
    <br>
    <div style="display: block">
        <div class="info">
            <h2>Information</h2>
            <div style="display: flex;">
                <img src="data:image/jpeg;base64,<%= siteInfo.fileImg %>" class="img" onclick="imageMenu()" title="Zoom in">
                <div style="display: block; margin-left: 20px; margin-top: -40px;">
                    <b>- Title:</b>
                    <p><%= siteInfo.title %></p>
                    <b>- Type:</b>
                    <p><%= siteInfo.siteType %></p>
                    <b>- Description:</b>
                    <p class="description"><%= siteInfo.description %></p>
                </div>
                <div style="display: flex">
                    <div style="display: block; margin-left: -300px; margin-top: -40px;">
                        <b>- Looked :</b>
                        <p><%= siteInfo.views %></p>
                        <b>- Downloaded :</b>
                        <p><%= siteInfo.saves %> downloads</p>
                    </div>
                    <div style="display: block; margin-left: 100px; margin-top: -40px;">
                        <b>- Comments :</b>
                        <% if (siteInfo.commentsNumber >= 1) {%>
                            <p><%= siteInfo.commentsNumber %> comments</p>
                        <%} else {%>
                            <p>No comments</p>
                        <%}%>
                        <b>- Likes:</b>
                        <p><%= siteInfo.likes %> likes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-container">
        <div class="my-info">
            <h2>My Information</h2>
            <div style="display: flex; white-space: nowrap; gap: 5px;" id="my-details">
                <div style="display: flex; white-space: nowrap; gap: 5px;">
                    <a href="/auth/login" class="href">Log in</a>
                    <p>or</p>
                    <a href="/auth/register" class="href">register,</a>
                    <p>to download your favorite websites.</p>
                </div>
            </div>
        </div>

        <div class="site-info">
            <h2>Download Archive</h2>
            <div class="download-file" id="download-file">
            </div>
        </div>
    </div>
    <div class="checkComments" id="checkComments" onclick="onCommentMenu()">
        <img src="/images/comments.png">
    </div>
    <div class="comment-container" id="commentMenu" style="display: none">
        <b class="close" onclick="offCommentMenu()">X</b>
        <h3 style="text-align: center">User comments</h3>
        <div class="comments">
            <% if (siteInfo.comments.length > 0) { %>
                <% siteInfo.comments.forEach(comment => { %>
                    <div>
                        <div style="display: flex">
                            <img src="data:image/png;base64,<%= comment.avatar %>" style="border-radius: 50%; width: 50px; height: 50px; margin-top: 15px;">
                            <h3 style="margin-left: 5px"><%= comment.author %></h3>
                            <p class="date"><%= comment.date %></p>
                        </div>
                        <p class="comment"><%= comment.message %></p>
                        <br>
                    </div>
                <% }); %>
            <% } else {%>
                <p>No comments found.</p>
            <%}%>
        </div>
        <div class="comment-form" id="commentForm">
        </div>
    </div>
    <div class="br"></div>
</main>
<footer id="footerSection">
<div class="footer-container">
    <div class="footer-links">
        <div class="footer-our-company">
            <div style="display: flex">
                <img src="../images/logo2.png" class="company-logo">
                <h3 style="margin: 5px 10px;">HFFreelance</h3>
            </div>
            <p>Creating modern websites to generate new income sources, change careers, or advance professionally.</p>
        </div>
        <div class="footer-info">
            <h3>Information</h3>
            <a href="/aboutUs">About Us</a>
            <a href="/rules">Terms of Use</a>
            <a href="/privacyPolicy">Privacy Policy</a>
        </div>
        <div class="footer-contacts">
            <% if (links) { %>
                <% links.forEach(linksItem => { %>
                    <h3>Contacts</h3>
                    <% if(linksItem.vk) {%>
                        <a href="<%= linksItem.vk %>" target="_blank">VK</a>
                    <%}%>
                    <% if(linksItem.discord) {%>
                        <a href="<%= linksItem.discord %>" target="_blank">Discord</a>
                    <%}%>
                    <% if(linksItem.instagram) {%>
                        <a href="<%= linksItem.instagram %>" target="_blank">instagram</a>
                    <%}%>
                    <% if(linksItem.facebook) {%>
                        <a href="<%= linksItem.facebook %>" target="_blank">facebook</a>
                    <%}%>
                <% }); %>
            <%}%>
        </div>
        <div class="contact-us">
            <h3>Our address</h3>
            <a href="mailto:типаемейл" style="color: #b7b4be">HFFreelancers@gmail.com</a>
            <a href="tel:циферки" style="color: #b7b4be">+7 123 456 78 90</a>
        </div>
    </div>
    <div class="footer-line"></div>
    <p class="company-name">&copy; 2024 HFFreelance. All rights reserved. Full or partial copying of the site is prohibited.</p>
</div>
</footer>
<script src="/javascripts/advertising.js"></script>
<script src="/javascripts/love.js"></script>
<script src="/javascripts/fileInfo/fileInfoEN.js"></script>
</body>
</html>
